/* Setting border-box box-sizing + ie fallback
----------------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    overflow: hidden;
}



/* Offside instances */
.offside {
    padding: 20px 0;
    width: 200px;
    background-color: rgb(137, 44, 121);
}

/* Lists */
#side_menu {
    clear: both;
    margin: 0;
    padding: 0 20px;
}

#side_menu li {
    list-style: none;
    padding:8px;
    font-size: 11px;
}

#side_menu li > a{
    text-decoration: none;
    color: white;
}

#side_menu li a i{
    margin-right: 5px;
}

/* Offside buttons */
.offside-button {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 0 auto 10px auto;
    background: #FFE200;
    color: #000;
    text-align: center;
    cursor: pointer;
}

.offside-button:hover {
    background: #FFD900;
}

.site-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;

    -webkit-transition: visibility 0s ease, opacity .2s ease;
    -moz-transition: visibility 0s ease, opacity .2s ease;
    -o-transition: visibility 0s ease, opacity .2s ease;
    transition: visibility 0s ease, opacity .2s ease;
}

/* Abstract icon class*/
.icon {
    display: block;
    position: relative;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}

.icon .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.icon:hover .icon-bar {
    background-color: #989898;
}

.icon:focus {
    outline: 0;
}

/* Close button */
.icon--cross {
    padding: 20px;
}

.icon--cross > .icon-bar + .icon-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon--cross > .icon-bar{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    margin-top: -2px;
}



/* Helpers */
.h--left{
    float: left;
}

.h--right{
    float: right;
}

/* Demo specific: typical */

/* Just few cosmetic CSS for overlay fade in/out */
.offside-js--is-open .site-overlay {
    visibility: visible;
    opacity: .7;
    -webkit-transition-delay: delay 0s;
    -o-transition-delay: delay 0s;
    transition-delay: delay 0s;
}
