.error-text{
	padding: 80px;
	padding-top: 50px;
}

.error-text h4{
	text-align: center;
	font-family: 'Cinzel', serif;
	margin-bottom: 30px;
	font-size: 30px;
}

.error-text p{
	color: #473934;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    width: 700px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.error-text a{
	color: #473934;
	text-decoration: none;
}

.error-text img{
	display: block;
	margin: 0px auto;
	margin-bottom: 30px;
}


#error_icon{
	width: 70px;
}

#fork-icon{
	margin-top: 50px;
	margin-bottom: 50px;
}


.error_{
	font-family: 'Questrial', sans-serif;
	text-align: center;
	color: #473934;
}

#box_purple{
	width: 400px;
    display: block;
    margin: 0px auto;
    text-align: center;
    background-color: rgb(137, 44, 121);
    border-radius: 10px;
    padding: 8px;
    color: white;
}

#box_purple p{
	margin-top: 0px;
	margin-bottom: 5px;
	font-family: 'Questrial', sans-serif;
	font-size: 22px;
	letter-spacing: 2px;
}


.font_error{
	font-size: 20px;

}


.error-tittle{
	font-size: 45px;
	color: rgb(137, 44, 121);
	text-align: center;

}