html,body,#box-content{
	width: 100%;
	height: 100vh;
	min-height: 100vh;
}


.advertise{
	width: 400px;
	display: block;
	margin:0px auto;
	color: #473934;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    background-color: #F9EFE4;
}



@media(min-width: 700px){
	.advertise{
		width: 600px;
	}
}