.club-text{
	padding: 20px;
	padding-top: 30px;
}

#wrapper-content{
	background-image: url("/img/clubestrella/background.png");
	background-repeat: repeat;
}

.club-text h4{
	text-align: center;
	font-family: 'Cinzel', serif;
	margin-bottom: 30px;
	font-size: 20px;
	color: white;
}

.club-text h2{
	text-align: center;
	font-family: 'Cinzel', serif;
	margin-bottom: 30px;
	font-size: 25px;
	color: white;
}

.club-text p{
	color: #473934;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
}

#logo_img{
	width: 100px;
	display: block;
	margin: 0px auto;
	margin-bottom: 30px;
}

@media(min-width: 800px){
	.club-text{
		padding:80px;
		padding-top: 50px;
	}

	.club-text p{
	    width: 700px;
	}

	.club-text h4{
		font-size: 30px;
	}

	.club-text h2{
		font-size: 35px;
	}

	#logo_img{
		width: 200px;
	}
}



#club_subscribe{
	width: 300px;
    display: block;
    margin: 0px auto;
}

.club_box{
	width: 100%;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media(min-width: 600px){
	.club_box{
		font-size: 20px;
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

#club_icon{
	width: 70px;
}

#club_card{
	width: 300px;
}


@media(min-width: 500px){

	#club_subscribe{
		width: 500px;
	}


	#club_card{
		width: 500px;
	}
}

@media(min-width: 800px){

	#club_subscribe{
		width: 700px;
	}

	#club_card{
		width: 700px;
	}
}
