#wrapper-content{
    background-color: white !important;
}

#tittle{
	background-image: url("/img/eventos/background_tablet.png");
	background-repeat: no-repeat;
	padding-top: 80px;
	padding-bottom: 80px;
	background-size: cover;
    height: initial;
}

#tittle img{
	width: 150px;
	display: block;
	margin:0px auto;
    margin-top: -70px;
}

#box-eventos{
    margin-top: -20px;
}

@media(min-width: 600px){
    #tittle img{
        width: 180px;
    }
}

@media(min-width:900px){
    #tittle{
        background-image: url("/img/eventos/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }

    #tittle img{
        width: 280px;
        margin-top: 0px;
    }

    #box-eventos{
        margin-top: -250px;
    }
}

.space{
	margin-bottom: 40px;
}

.eventos-text{
	margin:0px;
	margin-top: 60px;
	padding:20px;
}



@media(min-width: 700px){
    .eventos-text{
        padding:50px;
    }

    .space{
        margin-bottom: 120px;
    }
}


.eventos-text h4{
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
	font-family: 'Cinzel', serif;
	color: #513b85;
}

.eventos-text p{
	color: #473934;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Questrial', sans-serif;
    margin: 0px auto;
    margin-bottom: 20px;
}

@media(min-width: 600px){
    .eventos-text p{
        text-align: justify;
    }
}

.text-padd{
	padding-left: 25px;
	padding-right: 25px;
}


.services{
	list-style: none;
	padding-left: 0px;
}


.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}

.checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
    font-family: 'Questrial', sans-serif;
}
.checkbox label {
    position: relative;
    font-family: 'Questrial', sans-serif;
}
.checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #513b85;
}
.checkbox label:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #892c79;
    border-left: 2px solid #892c79;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 30px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
.checkbox label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Questrial', sans-serif;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}

#eventos-form input{
	/* background-color: #F9EFE4 !important; */
    border-color: #513b85 !important;
    border-radius: 5px;
    border:2px solid;
    font-family: 'Questrial', sans-serif;
}

.clearfix{
    width: 100% !important;
}

#eventos-form .input-group{
    margin-bottom: 35px;
}


#eventos-form textarea{
	/* background-color: #F9EFE4 !important; */
    border-color: #513b85 !important;
    border-radius: 5px !important;
    color:#892c79 !important;
    border: 2px solid;
}

#eventos-form input:focus,#eventos-form textarea:focus{
	box-shadow: 0 0 0 0 !important;
}

#eventos-form label,#eventos-form p{
	color: #473934;
    font-family: 'Questrial', sans-serif;
}

#response{
    text-align: center;
    margin-top: 30px;
    display: none;
}

#send{
    background-color: white !important;
    border-color: #513b85  !important;
    color: #513b85 ;
    float: right;
    margin-top: 20px;
    cursor: pointer;
}

#send:focus{
    box-shadow: 0 0 0 0;
}


#father-form{
    margin:0px;
    padding:20px;
}

.child-form{
    padding-left: 10px;
    padding-right: 10px;
}

.event-img{
    padding: 20px;
}

.event_img h3{
    font-family: 'Questrial', sans-serif;
    color: #513b85;
}

@media(min-width: 900px){
    #father-form{
        padding:50px;
    }

    .child-form{
        padding-left: 50px;
        padding-right: 50px;
    }

    .event_img{
        padding:50px;
    }

}

.box-foot{
    margin-top:-200px;
    width: 100%;
    height: 200px;
    background-image: url('/img/eventos/footer.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#cristal{
    width: 300px;
}

@media(min-width: 900px){
    .box-foot{
        height: 600px;
        margin-top: -300px;
        background-position: initial;
        background-size: contain;
        background-repeat: repeat;
    }

    #cristal{
        width: 500px;
    }
}


#eventos-whats{
    width: 200px;
    display: block;
    margin:0px auto;
    margin-bottom: 80px;
    margin-top: 50px;
}


@media(min-width: 500px){
    #eventos-whats{
        width: 300px;
    }
}


#logo_eventos{
    display: block;
    margin:0px auto;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 300px;
}

.wrapper_text{
    margin-bottom: 190px;
}


@media(min-height: 900px){
    .wrapper_text{
        margin-bottom: 0px;
    }

}