:root{
	--litepickerMonthButton: #ecafd3 !important;
	--litepickerMonthButtonHover: #f781c3 !important;
	--litepickerDayColorHover: #f68e6b !important;
	--litepickerDayIsInRange: #f9dda5 !important;
	--litepickerDayIsStartBg: #f68e6b !important;
	--litepickerDayIsEndBg: #f68e6b !important
}

code,.code{
	color:#f44336;
	background-color:#f1f1f1;
	padding:3px;
	border-radius:5px;
	white-space:pre-line;
}
.code:first-line{
	line-height:0
}
button.calendar-icon{
	background-image:url(../images/calendar-icon.svg);
	width:22px;
	height:22px;
	background-size:100%;
	border:0
}
.text-center{
	text-align:center
}.text-right{
	text-align:right
}
.lead{
	font-size:2em;
	margin-bottom:1em
}
.bg{
	display:inline-block;
	z-index:-20;
	line-height:0;
	opacity:1;
	background-color:#fdfbfa;
	background-image:url(../images/bg.png);
	background-size:cover;
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-position:center top;
	background-attachment:fixed
}
.bg:before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	pointer-events:none;
	z-index:1;
	opacity:0.07;
	background-color:#fff
}
.wrapper{
	margin:3em 6em;
}
.wrapper>.container{
	padding:25px;
	background-color:#fff;
	border-radius:15px;
	-webkit-box-shadow:0 0 15px 0 #ddd;
	box-shadow:0 0 15px 0 #ddd;
}
.header{
	text-align:center;
}
.header h1{
	font-size:3em;
	margin-top:0;
	margin-bottom:0.5em;
	letter-spacing:0.1em;
}
.header h2{
	font-weight:normal;
}
.header p{
	font-size:1.5em;
}
#demo{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
#demo #demo-options{
	width:400px;
}
#demo #demo-options h3{
	margin:0;
}
#demo #demo-options #picker-options{
	padding-left:25px;
}
#demo #demo-options #picker-options .picker-option-item{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin-bottom:5px;
}
#demo #demo-options #picker-options .picker-option-item>label{
	font-weight:bold;
	margin-right:10px;
	margin-top:2px;
}
#demo #demo-options #picker-options .picker-option-item>div{
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
#demo #demo-options #picker-options .picker-option-item>div .user-value-container{
	-webkit-box-flex:1;
	-ms-flex:1;flex:1;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
}
#demo #demo-options #picker-options .picker-option-item .user-value-container input[type="number"]{
	width:50px;
	border-radius:5px;
	border:1px solid #ddd;
	padding:2px 5px;
}
#demo #demo-preview{
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	text-align:center;
}
#demo #demo-preview #demo-preview-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
}

#litepicker {
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.5em;
    text-align: center;
}

input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 45px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #d9dadc;
    border-radius: 25px;
    -webkit-box-shadow: inset -24px 0 0 0 #9e9e9e;
    box-shadow: inset -24px 0 0 0 #9e9e9e;
}

input.apple-switch:disabled {
    background-color: #ddd;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
    -webkit-box-shadow: inset 24px 0 0 0 #4cd964;
    box-shadow: inset 24px 0 0 0 #4cd964;
    border-color: #4cd964;
}

input.apple-switch:after {
    left: 22px;
    -webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.05);
}

#options-description {
    margin-top: 1em;
}

#options-description .lead {
    margin-bottom: 0.5em;
}

#options-description .option-type {
    text-align: center;
}

#options-description .option-default {
    text-align: center;
    font-family: monospace;
}

#options-description .option-is-object {
    white-space: pre-line;
    text-align: left;
    line-height: 1;
}

#options-table,
#events-table,
#methods-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#options-table>div,
#events-table>div,
#methods-table>div {
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}

#options-table>div:last-child,
#events-table>div:last-child,
#methods-table>div:last-child {
    border-right: none;
}

#options-table>div>p:first-child,
#events-table>div>p:first-child,
#methods-table>div>p:first-child {
    margin-top: 0;
}

#options-table>div>p:last-child,
#events-table>div>p:last-child,
#methods-table>div>p:last-child {
    margin-bottom: 0;
}

#options-table table,
#events-table table,
#methods-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#options-table table th,
#options-table table td,
#events-table table th,
#events-table table td,
#methods-table table th,
#methods-table table td {
    border: 1px solid #bdbdbd;
    padding: 3px 10px;
}

#options-table>div:nth-child(4n+1),
#options-table>div:nth-child(4n+2),
#options-table>div:nth-child(4n+3) {
    width: 15%;
}

#options-table>div:nth-child(4n+4) {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
}

#events-table>div:nth-child(3n+1),
#events-table>div:nth-child(3n+2),
#methods-table>div:nth-child(3n+1),
#methods-table>div:nth-child(3n+2) {
    width: 15%
}

#events-table>div:nth-child(3n+3),
#methods-table>div:nth-child(3n+3) {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
}

@media (max-width: 768px) {
    .wrapper {
        margin: 0;
    }
    .wrapper>.container {
        border-radius: 0;
    }
    code,
    .code {
        word-break: break-all;
    }
    #demo {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    #demo #demo-options {
        width: 100%;
    }
    #demo #demo-preview {
        margin-bottom: 2em;
    }
    #options-description .table-grid-header {
        display: none;
    }
    #options-table>div:nth-child(n),
    #events-table>div:nth-child(n),
    #methods-table>div:nth-child(n) {
        border-bottom: none;
        border-right: none;
        text-align: left;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    #options-table .header-cell,
    #events-table .header-cell,
    #methods-table .header-cell {
        display: none;
    }
    #options-table>div:nth-child(4n) {
        border-bottom: 1px solid #f1f1f1;
    }
    #options-table>div:nth-child(4n+1) {
        font-weight: bold;
    }
    #events-table>div::nth-child(3n),
    #methods-table>div::nth-child(3n) {
        border-bottom: 1px solid #f1f1f1;
    }
    #events-table>div:nth-child(3n+1),
    #methods-table>div:nth-child(3n+1) {
        font-weight: bold;
    }
}


