#room-section{
	color: #473934;
}

#resume-room{
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
}

#resume-room tr td p{
	margin-bottom: 8px;
}

.terms-room{
	padding-top: 0px;
    padding-bottom: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.terms-room:focus{
	box-shadow: 0 0 0 0;
}

#set-reserv img{
	display: block;
	margin: 0px auto;
	margin-top: 15px;
}

#set-reserv input{
	width: 100%;
}

#set-reserv .error{
	color: red;
}

.input-group{
	margin-bottom: 15px;
}

#club-stuff{
	list-style: none;
	display: -webkit-inline-box;
	padding-left: 0px;
}

#club-stuff li{
	padding: 8px;
}

#club-stuff p, #club-stuff a{
	color: #473934;
}

#club-stuff li a{
	display: block;
	text-decoration: none;
	color: black;
}

#club-stuff li a img{
	width: 40px;
}

#logoff button:focus{
	box-shadow: 0 0 0 0;
}

#reserva-container{
	padding:0px;
	margin-top: 50px;
}

.almost-padd{
	padding: 0px;
}


@media(min-width: 600px){
	#reserva-container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.almost-padd{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.nopadd{
	padding: 0px;
}

.modal-content h5, .modal-content label, .modal-content small{
	color: #473934;
}

.btn-primary{
	background-color: white !important;
    color: #473934 !important;
    border-color: #892c79 !important;
    width: 250px !important;
    cursor: pointer;
    border-color: white;
    width: 100px !important;
}

.btn-primary:focus{
	box-shadow: 0 0 0 0 !important;
}

.btn-danger{
	background-color: white !important;
    color: #473934 !important;
}

.btn-danger:focus{
	box-shadow: 0 0 0 0 !important;
}