.somos-text{
	padding: 20px;
	padding-top: 30px;
}

@media(min-width: 700px){
	.somos-text{
		padding:80px;
		padding-top: 50px;
	}
}

.somos-text h4{
	text-align: center;
	font-family: 'Cinzel', serif;
	margin-bottom: 30px;
	font-size: 30px;
}

.somos-text p{
	color: #473934;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
}


.somos-text-mobile p{
	color: #473934;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
}

.somos-text img{
	display: block;
	margin: 0px auto;
	margin-bottom: 30px;
}


#somos_icon{
	width: 70px;
}

#fork-icon{
	margin-top: 50px;
	margin-bottom: 50px;
}

.container{
	padding-left: 0px !important;
	padding-right: 0px !important;
}


@media(min-width: 920px){

	.somos-text p{
		width: 700px
	}

	.container{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}