.pool-text{
	padding: 20px;
	padding-top: 30px;
}



.pool-text h4{
	text-align: center;
	font-family: 'Cinzel', serif;
	margin-bottom: 30px;
	font-size: 30px;
}

.pool-text p{
	color: #473934;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
}

@media(min-width: 600px){
	.pool-text p{
	    width: 500px;
	}
}

@media(min-width: 800px){
	.pool-text{
		padding:80px;
		padding-top: 50px;
	}

	.pool-text p{
	    width: 700px;
	}
}

.pool-text img{
	display: block;
	margin: 0px auto;
	margin-bottom: 30px;
}


#pool_icon{
	width: 70px;
}

#fork-icon{
	margin-top: 50px;
	margin-bottom: 50px;
}