.room-text{
	padding: 20px;
	padding-top: 30px;
}


.room-text h4{
	text-align: center;
	font-family: 'Cinzel', serif;
	margin-bottom: 30px;
	font-size: 30px;
}

.room-text p{
	color: #473934;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 20px;
}

@media(min-width: 800px){
	.room-text{
		padding:80px;
		padding-top: 50px;
	}

	.room-text p{
	    width: 700px;
	}
}

.room-text img{
	display: block;
	margin: 0px auto;
	margin-bottom: 30px;
}


#room_icon{
	width: 70px;
}

#fork-icon{
	margin-top: 50px;
	margin-bottom: 50px;
}

.meanities{
	list-style: none;
	padding-left: 0px;
	color: black;
	margin-top: 15px;
}

.meanities h4{
	font-family: 'Cinzel', sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}

.meanities p{
	font-family: 'Questrial', sans-serif;
}

.meanities img{
	width: 25px;
	margin-right: 10px;
}

.meanities i{
	margin-right: 10px;
}

